@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

:root,
[data-bg-theme="dark"] {
  --body-font-family: "Fira Sans", sans-serif;

  // https://coolors.co/071013-23b5d3-75abbc-a2aebb-dfe0e2
  // --rich-black: #071013ff;
  // --pacific-cyan: #23b5d3ff;
  // --moonstone: #75abbcff;
  // --cadet-gray: #a2aebbff;
  // --platinum: #dfe0e2ff;

  // https://coolors.co/331832-d81e5b-f0544f-c6d8d3-fdf0d5
  --dark-purple: #331832ff;
  --raspberry: #d81e5bff;
  --vermilion: #f0544fff;
  --ash-gray: #c6d8d3ff;
  --papaya-whip: #fdf0d5ff;

  --coolors-a: var(--dark-purple);
  --coolors-b: var(--raspberry);
  --coolors-c: var(--vermilion);
  --coolors-d: var(--ash-gray);
  --coolors-e: var(--papaya-whip);

  --bs-body-bg: var(--coolors-a);
  --bs-body-color: var(--coolors-e);

  --bs-emphasis-color: var(--coolors-b);
  --bs-btn-bg: var(--coolors-b);
}

/* SCSS HEX */
$dark-purple: #331832ff;
$raspberry: #d81e5bff;
$vermilion: #f0544fff;
$ash-gray: #c6d8d3ff;
$papaya-whip: #fdf0d5ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-right: linear-gradient(90deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-bottom: linear-gradient(180deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-left: linear-gradient(270deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-top-right: linear-gradient(45deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-bottom-right: linear-gradient(135deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-top-left: linear-gradient(225deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-bottom-left: linear-gradient(315deg, #331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);
$gradient-radial: radial-gradient(#331832ff, #d81e5bff, #f0544fff, #c6d8d3ff, #fdf0d5ff);

$primary: $raspberry;
$secondary: $vermilion;

$body-bg-dark: $dark-purple;
$body-color-dark: $papaya-whip;
$body-secondary-bg-dark: $ash-gray;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./bootstrap-5.3.2/functions";

// 2. Include any default variable overrides here

// Default variable overrides
// $body-bg: #000;
// $body-color: #111;

@import "./bootstrap-5.3.2/variables";
@import "./bootstrap-5.3.2/variables-dark";
@import "./bootstrap-5.3.2/maps";
@import "./bootstrap-5.3.2/mixins";
@import "./bootstrap-5.3.2/utilities";

// Layout & components
@import "./bootstrap-5.3.2/root";
@import "./bootstrap-5.3.2/reboot";
@import "./bootstrap-5.3.2/type";
@import "./bootstrap-5.3.2/images";
@import "./bootstrap-5.3.2/containers";
@import "./bootstrap-5.3.2/grid";
@import "./bootstrap-5.3.2/tables";
@import "./bootstrap-5.3.2/forms";
@import "./bootstrap-5.3.2/buttons";
@import "./bootstrap-5.3.2/transitions";
@import "./bootstrap-5.3.2/dropdown";
@import "./bootstrap-5.3.2/button-group";
@import "./bootstrap-5.3.2/nav";
@import "./bootstrap-5.3.2/navbar";
@import "./bootstrap-5.3.2/card";
@import "./bootstrap-5.3.2/accordion";
@import "./bootstrap-5.3.2/breadcrumb";
@import "./bootstrap-5.3.2/pagination";
@import "./bootstrap-5.3.2/badge";
@import "./bootstrap-5.3.2/alert";
@import "./bootstrap-5.3.2/progress";
@import "./bootstrap-5.3.2/list-group";
@import "./bootstrap-5.3.2/close";
@import "./bootstrap-5.3.2/toasts";
@import "./bootstrap-5.3.2/modal";
@import "./bootstrap-5.3.2/tooltip";
@import "./bootstrap-5.3.2/popover";
@import "./bootstrap-5.3.2/carousel";
@import "./bootstrap-5.3.2/spinners";
@import "./bootstrap-5.3.2/offcanvas";
@import "./bootstrap-5.3.2/placeholders";

// Helpers
@import "./bootstrap-5.3.2/helpers";

// Utilities
@import "./bootstrap-5.3.2/utilities/api";
// scss-docs-end import-stack
