{% extends "base.html" %} {% block content %}

<style type="text/css">
  .ui.cards > .card > .image > img,
  .ui.card > .image > img {
    display: block;
    width: 10%;
    height: 10%;
    border-radius: inherit;
  }

  .ui.card > .image > img,
  .ui.cards > .card > .image > img {
    object-fit: cover;
    width: 10%;
    height: 10%;
    border-radius: 0;
  }

  .text h1.ui.header {
    font-size: 4em;
    font-weight: normal;
  }

  main {
    margin: 3em 0em;
  }

  ul {
    padding: 0px;
  }
</style>

<section>
  <h1 class="title">{{ section.title }}</h1>

  <!-- <ul>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul> -->

  <div class="ui vertical stripe">
    <div class="ui container">
      <ul class="ui stackable cards nolist four">
        {% for post in section.pages %}
        <li class="ui card">
          <a class="image">
            <img src="{{ post.extra.screenshot }}" />
          </a>
          <div class="content">
            <a href="{{post.extra.gh_source}}">
              <i class="right floated">
                <img src="/GitHub-Mark-32px.png" width="16px" />
              </i>
            </a>
            <div class="header">{{ post.title }}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
