{% extends "base.html" %} {% block content %}

<section>
  <h1 class="title">{{ section.title }}</h1>
  <div class="container text-center">
    <div class="card-group grid gap-2">
        {% for post in section.pages %}
        <div class="col">
          <div class="card border-light">
            <div class="header card-header text-center border-light">{{ post.title }}</div>
            <div class="content card-body">
              <a class="image card-img-top">
                <!-- <img src="{{ post.extra.screenshot }}" /> -->
                <video src="{{ post.extra.video }}" autoplay loop width="256px"/>
              </a>
              <a href="{{post.extra.gh_source}}">
                <!-- <iframe src="{{ post.extra.wasm_source }}"></iframe> -->
                <i class="">
                  <img src="/github-mark.svg" width="22px" />
                </i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
