{% extends "base.html" %} {% block content %}

<!-- Modal -->
<div class="modal fade" id="comfyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <span>
            Title ????
          </span>
          &nbsp;
          <a href="#">
            <i class="">
              <img src="/github-mark-white.svg" width="22px" />
            </i>
          </a>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center px-auto">
        <iframe src="" width="1106" height="526"></iframe>
      </div>

      <div class="modal-body px-auto example-code">
      </div>

    </div>
  </div>
</div>

<section>
  <!-- <h1 class="title">{{ section.title }}</h1> -->

  <div class="container text-center">
    <div class="card-group grid gap-2">
      {% for post in section.pages %}
      <div class="col">
        <div class="card border">
          <div class="header card-header text-center border">{{ post.title }}</div>
          <div class="content card-body example-card-body">
            <a class="example-detail-link card-img-top" data-bs-toggle="modal" data-bs-target="#comfyModal" data-bs-title="{{ post.title }}"
              data-bs-wasm-source="{{post.extra.wasm_source}}"
              data-bs-github-href="{{post.extra.gh_source}}"
              data-bs-example-code="{{post.content}}"
              style="cursor: pointer;">
              <video src="{{ post.extra.video }}" autoplay loop width="408" style="border-radius: 5px" />
            </a>

            <!-- <div> -->
            <!--   <a href="{{post.extra.gh_source}}"> -->
            <!--     <i class=""> -->
            <!--       <img src="/github-mark-white.svg" width="22px" /> -->
            <!--     </i> -->
            <!--   </a> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the modal element
    const modal = document.getElementById('comfyModal');

    modal.addEventListener('show.bs.modal', function (event) {
      // Get the clicked element (the one that triggered the modal)
      const triggerElement = event.relatedTarget;

      // Extract data attributes from the clicked element
      const title = triggerElement.getAttribute('data-bs-title');
      const wasmSource = triggerElement.getAttribute('data-bs-wasm-source');
      const href = triggerElement.getAttribute('data-bs-github-href')
      const exampleCode = triggerElement.getAttribute('data-bs-example-code')

      // Update the modal's content
      modal.querySelector('.modal-title span').textContent = title;
      modal.querySelector('.modal-title a').setAttribute('href', href);
      modal.querySelector('.modal-body.example-code').innerHTML = exampleCode;
      modal.querySelector('.modal-body iframe').setAttribute('src', wasmSource);
    });
  });
</script>

{% endblock content %}
