{% extends "base.html" %} {% block content %}
<div class="px-4 py-4 my-4 text-center">
  <img
    class="d-block mx-auto mb-4 comfy-logo-big"
    src="./comfy.png"
    alt=""
    width="72"
    height="72"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">Comfy</h1>
  <div class="col-lg-7 mx-auto">
    <p class="lead mb-4">
      Comfy is an ergonomic 2D game engine built in Rust. It's designed to be
      opinionated, productive, and easy to use. It uses
      <a href="https://wgpu.rs/">wgpu</a>. Inspired by
      <a href="https://macroquad.rs/">macroquad</a>,
      <a href="https://macroquad.rs/">raylib</a>,
      <a href="https://love2d.org/">Love2D</a> and many others, it is designed
      to just work and fill most of the common use cases.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Getting Started
      </button>
      <a href="/examples" class="btn btn-secondary btn-lg px-4">
        Browse Examples
      </a>
    </div>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col">
    <div class="h-100 p-5 rounded-4 bg-body-tertiary">
      <h2>Change the background</h2>
      <p>
        Swap the background-color utility and add a `.text-*` color utility to
        mix up the jumbotron look. Then, mix and match with additional component
        themes and more.
      </p>
      <button class="btn btn-primary" type="button">
        Example button
      </button>
    </div>
  </div>
  <div class="col">
    <div class="h-100 p-5 rounded-4 bg-body-tertiary">
      <h2>Add borders</h2>
      <p>
        Or, keep it light and add a border for some added definition to the
        boundaries of your content. Be sure to look under the hood at the source
        HTML here as we've adjusted the alignment and sizing of both column's
        content for equal-height.
      </p>
      <button class="btn btn-secondary" type="button">
        Example button
      </button>
    </div>
  </div>
</div>
{% endblock content %}
